.card {
  background-color: $white;
  border-radius: 10px;
  left: 50%;
  padding: 50px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 45%;

  .logo {
    float: left;
    margin: 0 30px 0 0;
    width: 100px;
    @media (max-width: 767px) {
      float: none;
      margin: 0 0 20px 0;
      width: 75px;
    }
  }

  input {
    border: none;
    border-radius: 5px;
    display: block;
    font-family: 'Droid Serif', serif;
    font-size: 20px;
    margin: 30px 0 0 0;
    padding: 15px 20px;

    &[type="text"] {
      background: $soft-grey;
      color: $grey;
      width: calc(100% - 40px);
    }

    &[type="submit"] {
      background: $main-app-color;
      border: none;
      border-bottom: 2px solid $main-app-color;
      color: $white;
      cursor: pointer;
      display: inline-block;
      font-size: 20px;
      padding: 15px 35px;
      @media (max-width: 767px) {
        width: 100%;
      }
    }
  }
  .shortened-link {
    border-radius: 0;
    color: $dark-grey;
    display: none;
    font-size: 20px;
    margin: 0 0 0 30px;
    padding: 15px 0 15px 15px;
    position: relative;
    width: 230px;
    &.active {
      background: rgba($valid-color, 0.1);
      border-bottom: 2px solid $valid-color;
      display: inline-block;
    }
    &.error {
      background: rgba($error-color, 0.1);
      border-bottom: 2px solid $error-color;
      display: inline-block;
    }
    @media (max-width: 767px) {
      margin: 30px 0 0 0;
      padding: 15px 0;
      text-align: center;
      width: 100%;
    }
  }
  @media (max-width: 991px) {
    width: 60%;
  }
  @media (max-width: 767px) {
    padding: 30px;
    text-align: center;
    width: 70%;
  }
}
