.copyright {
  bottom: 10px;
  color: $soft-grey;
  opacity: 0.2;
  position: fixed;
  text-align: center;
  transition-duration: 0.3s;
  width: 100%;
  &:hover {
    opacity: 1;
  }
  li {
    display: inline-block;
    margin: 0;
    &:not(:last-child)::after {
      content: " |";
    }
    a {
      color: $white;
      text-decoration: none;
      &:hover {
        border-bottom: 2px solid $main-app-color;
      }
    }
  }
  @media (max-width: 767px) {
    text-align: center;
  }
}
