%table
  %thead
    %tr
      %th Given URL
      %th Short URL
      -# %th Count
  %tbody
  - @shortener.each do |s|
    %tr
      %th= link_to s.given_url, shortener_path(s)
      %th= short_url(s)
      -# %th= s.count
