%table
  %thead
    %tr
      %th Given URL
      %th Short URL
      %th Count
  %tbody
  - @shorteners.each do |s|
    %tr
      %th= link_to s.given_url, shortener_path(s)
      %th= s_url(s.slug)
      %th= s.count
