%input{:type => "text", :class => 'short-url', :id => 'shorturl', :value => s_url(@shortener.slug)}
%input{:class => 'alert-success', :value => t('views.shortener.show.alert.success'), :disabled => true}
