%input{:type => "url", :class => 'input', :id => 'shorturl', :value => @shortener.given_url}

-# %form{:method => 'post', :novalidate => "true"}
-#   %input{:type => "url", :class => 'input', :id => 'shorturl', :placeholder => t('views.shortener.new.placeholder')}
-#   %input{:type => "submit", :class => 'button', :value => t('views.shortener.new.value'), :data => {:clipboard => {:target => '#shorturl'}}, :onclick => "return false"}
-#   %input{:class => 'shortened-link'}
