// COLORS
$dark-grey: #373D42;
$grey: #888888;
$soft-grey: #EEEEEE;
$white: #ffffff;

$main-app-color: #1BC978;

$valid-color: #1BC978;
$error-color: #C0392B;

// FONTS
$font-primary: Georgia, serif;

// RADIUS
$radius-primary: 5px;
