.card {
  background-color: $white;
  border-radius: 10px;
  left: 50%;
  max-width: 600px;
  padding: 50px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 750px;

  .logo {
    float: left;
    margin: 0 30px 0 0;
    width: 100px;
    @media (max-width: 767px) {
      float: none;
      margin: 0 0 20px 0;
      width: 75px;
    }
  }
  @media (max-width: 767px) {
    left: 0;
    margin: 40px auto;
    padding: 30px;
    position: relative;
    text-align: center;
    top: 0;
    transform: none;
    width: 70%;
  }
}
