input {
  border: none;
  border-bottom: 2px solid $soft-grey;
  border-radius: 5px;
  font-family: 'Droid Serif', serif;
  font-size: 20px;
  padding: 15px 20px;

  &[type="url"] {
    background: $soft-grey;
    color: $grey;
    width: calc(100% - 40px);
    &.short-url {
      display: inline-block;
      width: 50%;
      @media (max-width: 767px) {
        width: calc(100% - 40px);
      }
    }
  }

  &[type="submit"] {
    background: $main-app-color;
    border-bottom: 2px solid $main-app-color;
    color: $white;
    cursor: pointer;
    display: inline-block;
    margin: 30px 0 0 0;
    padding: 15px 35px;
    @media (max-width: 767px) {
      width: 100%;
    }
  }
}

button {
  background: $main-app-color;
  border: none;
  border-bottom: 2px solid $main-app-color;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-family: 'Droid Serif', serif;
  font-size: 20px;
  margin: 30px auto 0 auto;
  padding: 15px 35px;
  text-decoration: none;
  a {
    color: $white;
    text-decoration: none;
  }
  @media (max-width: 767px) {
    width: 100%;
  }
}
